/*
App-o-Mat jQuery Mobile Cordova starter template
Copyright 2014 Lou Franco
https://github.com/app-o-mat/jqm-cordova-template-project
http://app-o-mat.com

MIT License
https://github.com/app-o-mat/jqm-cordova-template-project/LICENSE.md
*/

/* Make the webviews act less like a browser, and more like an app*/
body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
}

#plants-content {
  padding: 0px;
  padding-top: 4px;
}

#likely-content {
  padding: 0px;
  padding-top: 4px;
}

.specimen-content {
  padding: 0px;
  padding-top: 4px;
}

.feature-row {
  font-size: 12px;
  font-weight: normal;
}

.feature-name {
  background-color: #333;
  padding: 3px;
  text-shadow: none;
  color: white;
}

.feature-boxes {
  white-space: nowrap;
  overflow-x: scroll;
}

.feature-box {
  display: inline-block;
  border: 1px solid black;
  margin: 1px;
}

.feature-value {
  text-shadow: none;
  color: white;
  padding: 3px;
}

.feature-value:not(.selected) {
  background-color: #666;
}

.feature-value.selected {
  background-color: #A33;
}

.feature-img {
  height: 100px;
}

.specimen {
  background-color: black !important;
}

.specimen-img-box {
  position: relative;
  width: 100%;
  height: 300px;
}

.specimen-img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("../data/noimage.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.specimen-img-gradient {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 90%,rgba(0,0,0,1) 100%); /* W3C */
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  opacity: 0;
}

.specimen-text-box {
}

.specimen-img-fade {
  background: linear-gradient(to top, black, rgba(0,0,0,0) 100%);
  width: 100%;
  height: 20px;
}

.specimen-text {
  text-align: justify;
  padding: 20px;
  text-shadow: none;
  color: white;
}

