/*
App-o-Mat jQuery Mobile Cordova starter template
Copyright 2014 Lou Franco
https://github.com/app-o-mat/jqm-cordova-template-project
http://app-o-mat.com

MIT License
https://github.com/app-o-mat/jqm-cordova-template-project/LICENSE.md
*/

/* Make the webviews act less like a browser, and more like an app*/
body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
}

#plants-content {
  padding: 0px;
  padding-top: 4px;
}

.feature-row {
  font-size: 12px;
  position: relative;
  white-space: nowrap;
  overflow-x: scroll;
}

.feature-name {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #666;
  padding: 3px;
  text-shadow: none;
  color: white;
  opacity: 0.85;
  border-bottom-right-radius: 3px;
  margin-left: 1px;
  margin-top: 1px;
}

.feature-box {
  display: inline;
  position: relative;
}

.feature-value {
  position: absolute;
  top: -10px;
  padding: 3px;
  text-shadow: none;
  color: white;
  opacity: 0.85;
  margin-left: 1px;
  border-top-right-radius: 3px;
  z-index: 1;
}

.feature-value:not(.selected) {
  background-color: #666;
}

.feature-value.selected {
  background-color: #A33;
}

.feature-img {
  height: 100px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.feature-box:last-child .feature-img {
  border-right: 1px solid black;
}
