/*
App-o-Mat jQuery Mobile Cordova starter template
Copyright 2014 Lou Franco
https://github.com/app-o-mat/jqm-cordova-template-project
http://app-o-mat.com

MIT License
https://github.com/app-o-mat/jqm-cordova-template-project/LICENSE.md
*/

/* Make the webviews act less like a browser, and more like an app*/
body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
}

#plants-content {
  padding: 0px;
  padding-top: 4px;
}

#likely-content {
  padding: 0px;
  padding-top: 4px;
}

#specimen-content {
  padding: 0px;
  padding-top: 4px;
}

.feature-row {
  font-size: 12px;
  white-space: nowrap;
  overflow-x: scroll;
  font-weight: normal;
}

.feature-name {
  background-color: #666;
  padding: 3px;
  text-shadow: none;
  color: white;
  border-bottom-right-radius: 3px;
}

.feature-box {
  display: inline-block;
  border: 1px solid black;
  margin: 1px;
}

.feature-value {
  text-shadow: none;
  color: white;
  padding: 3px;
}

.feature-value:not(.selected) {
  background-color: #666;
}

.feature-value.selected {
  background-color: #A33;
}

.feature-img {
  height: 100px;
}

.specimen-img-box {
  position: fixed;
  top: 44px;
  overflow: visible;
  width: 100%;
}

.specimen-img {
  position: absolute;
  top: 0px;
  width: 100%;
}

.blur {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  opacity: 0;
}

.specimen-text-box {
  z-index: 1;
  position: relative;
}

.specimen-img-fake-box {
}

.specimen-img-fake {
  opacity: 0;
  width: 90%;
}

.specimen-img-fade {
  background: linear-gradient(to top, black, rgba(0,0,0,0) 100%);
  width: 100%;
  height: 20px;
}

.specimen-text {
  width: calc(100% - 40px);
  background-color: black;
  text-align: justify;
  padding: 20px;
  text-shadow: none;
  color: white;
}

#specimen {
  background-color: black;
}

