<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.eifieldguide" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>EI Field Guide</name>
  <description>
    A field research identification tool.
  </description>
  <author email="miketolly@gmail.com" href="http://github.com/mtolly">
    Michael Tolly
  </author>
  <content src="index.htm" />
  <access origin="*" />
</widget>
