/*
App-o-Mat jQuery Mobile Cordova starter template
Copyright 2014 Lou Franco
https://github.com/app-o-mat/jqm-cordova-template-project
http://app-o-mat.com

MIT License
https://github.com/app-o-mat/jqm-cordova-template-project/LICENSE.md
*/

/* Make the webviews act less like a browser, and more like an app*/
body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
}

.bg-blur {
  background-color: black !important;
  background-image: url("../img/bg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#dataset-content {
  padding: 0px;
  padding-top: 4px;
}

#likely-content {
  padding: 0px;
  padding-top: 4px;
}

.specimen-content {
  padding: 0px;
  padding-top: 4px;
}

.to-species {
  text-decoration: none;
  border-width: 1px;
}

.feature-row:last-child {
  margin-bottom: 3px;
}

.feature-name {
  font-size: 14px;
  font-weight: normal;
  padding: 3px;
  margin-left: 3px;
  text-shadow: -1px 1px black;
  color: white;
}

.feature-boxes {
  white-space: nowrap;
  overflow-x: scroll;
}

.feature-box {
  display: inline-block;
  border: 1px solid black;
  margin-left: 3px;
}

.feature-boxes .feature-box:last-child {
  margin-right: 3px;
}

.to-species .feature-box {
  margin-bottom: 3px;
}

.feature-box:not(.selected) {
  background-color: #575f6a;
}

.feature-box.selected {
  background-color: #0081bb;
}

.feature-img-box {
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 0px;
  padding: 0px;
  display: block;
}

.feature-img {
  height: 100px;
  border: 1px solid black !important;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding: 0px;
  display: block;
  background-color: white;
}

.feature-value {
  text-shadow: none;
  color: white;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 0px;
  font-size: 12px;
  font-weight: normal;
  text-shadow: -1px 1px black;
}

.likely-section {
  padding: 5px;
}

.specimen {
  background-color: black !important;
}

.specimen-img-box {
  position: relative;
  width: 100%;
  height: 300px;
}

.specimen-img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("../img/noimage.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.specimen-img-gradient {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 90%,rgba(0,0,0,1) 100%); /* W3C */
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  opacity: 0;
}

.specimen-text-box {
}

.specimen-img-fade {
  background: linear-gradient(to top, black, rgba(0,0,0,0) 100%);
  width: 100%;
  height: 20px;
}

.specimen-text {
  text-align: justify;
  padding: 20px;
  text-shadow: none;
  color: white;
}

.guide-table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}

.guide-button {
  text-shadow: none;
  cursor: pointer;
}

.guide-icon-box {
  background-color: rgba(255, 255, 255, 0.3);
}

.guide-icon {
  margin: 10px;
  width: 45px;
  height: auto;
  border: 2px solid #ddd;
}

.guide-text {
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
}

.guide-title {
  margin: 10px;
  margin-left: 0px;
  color: white;
  font-weight: normal;
  font-size: 18px;
}

.guide-desc {
  margin: 10px;
  margin-left: 0px;
  color: white;
  font-weight: normal;
  font-size: 14px;
}

.guide-delete {
  margin: 10px;
  padding: 5px;
  background-color: rgba(255, 50, 50, 0.5);
  width: auto;
  text-align: center;
}

.guide-spacer {
  height: 10px;
}

.home-header {
  text-align: center;
  margin: 5px;
}

.home-toggle-box {
  text-align: center;
}

.home-toggle {
  width: 120px;
  display: inline-block;
  border: 1px solid #0081bb;
  text-shadow: none;
  margin: 0;
  font-weight: normal;
}

.home-toggle-selected {
  background-color: #0081bb;
  color: black;
}

.home-toggle-not-selected {
  color: white;
}

.home-toggle-left {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.home-toggle-right {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.dataset-navbar {
  display: table;
  width: 100%;
  text-shadow: none;
}

.dataset-nav-left {
  display: table-cell;
  text-align: left;
  width: 4em;
  color: #0080bf;
  padding: 5px;
  text-decoration: none;
  font-weight: normal !important;
}

.dataset-nav-center {
  display: table-cell;
  text-align: center;
  width: auto;
  color: white;
  padding: 5px;
  font-size: 18px;
}

.dataset-nav-right {
  display: table-cell;
  text-align: right;
  width: 4em;
  color: #0080bf;
  padding: 5px;
  text-decoration: none;
  font-weight: normal !important;
}

.dataset-nav-arrow {
  font-size: 23px;
}
